#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

#controls {
  min-width: 280px;
  background: #242424;
  padding: 1rem 1.25rem;
  border-radius: 1rem;
}

.control-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.unstyled-list {
  list-style: none;
  margin: 0;
	padding-left: 0;
}

.icon {
  height: 1.5em;
}

.footer {
  text-align: center;
  font-size: 0.7rem;
}